configuration {
    modi:           "drun";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "";
    font:           "Hack Nerd Font 12";
    kb-cancel:      "Escape,MousePrimary";
    hover-select:   true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "~/.config/rofi/theme.rasi"
