[Unit]
Description=Set random wallpaper and apply matugen color scheme
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme-switch.sh

[Install]
WantedBy=graphical-session.target
