[Unit]
Description=wayvnc VNC server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc -o DP-1 127.0.0.1 5900
Restart=always
RestartSec=2
TimeoutStopSec=10

[Install]
WantedBy=default.target
